.Politica {
    color: midnightblue;
    margin-top: 35px;
}

.Recopilacion {
    color: midnightblue;
    margin-top: 45px;
}

.Informacion {
    color: midnightblue;
    margin-top: 45px;
}

.Proteccion {
    color: midnightblue;
    margin-top: 45px;
}

.Divulgacion {
    color: midnightblue;
    margin-top: 45px;
}

.Cookies {
    color: midnightblue;
    margin-top: 45px;
}

.Cambios {
    color: midnightblue;
    margin-top: 45px;
}
//CSS de los textos//

Politica1 {
        margin-top: 15px;
}

.Recopilacion1 {
    margin-top: 15px;
}

.Informacion1 {
    margin-top: 15px;
}

.Proteccion1 {
    margin-top: 15px;
}

.Divulgacion1 {
    margin-top: 15px;
}

.Cookies1 {
    margin-top: 15px;
}

.Cambios1 {
    margin-top: 15px;
}