
@{
    ViewData["Title"] = "Contactanos";
}
<h1>Contactanos</h1>
<p class="margin1">Si ested encuentra bugs o errores en nuestra pagina nos lo puede mencionar por correo electronico.</p>
<a class="margin">lbooks.support@gmail.com</a>
<p class="margin1">Y si bien quieres entrar a nuestro grupo de administradores contactanos al siguiente correo para poder mandarte el formulario y en base a eso poder ver si eres apto de pertenecer </p>
<a class="margin">lbooks.moderadores@gmail.com</a>
