@model HomeViewModel

@section CSS {
    <link rel="stylesheet" href="/css/HomePage.css" />
}
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

@foreach(Libro libro in Model.Libros) {
    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mx-auto" style="width: 18rem;">

        <p>@libro.IdLibro</p>
        <img src="@libro.Imagen"></img>
        <p>@libro.Titulo</p>
                    </div>
             </div>
        </div>
    </div>
 
}