@model HomeViewModel

@section CSS {
    <link rel="stylesheet" href="/css/HomePage.css" />
    <link rel="stylesheet" href="/css/Card.css" />
}
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

@foreach(Libro libro in Model.Libros) {
    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mx-auto" style="width: 18rem;">
                        <p class="Titulo">@libro.Titulo</p>
                        <img class="Imagen" src="@libro.Imagen"></img>
                        <a href="#" class="btn btn-primary">Leer Libro</a>
                    </div>
             </div>
        </div>
    </div>
 
}