@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color:grey
    }

    .card {
        margin-top: 50px
    }

    .container {
        min-height: calc(100vh-100px -300px);
    }

</style>

<div class="container" >
<h1>Recomendados</h1>
<!--Carousel 1-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://cdn.culturagenial.com/es/imagenes/libro-el-principito-og.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">1 Titulo del libro que se tomo de la base de datos</h5>
                    <p class="card-text">Sinapsis del libro que se tomo de la base de datos.</p>
                    <a href="#" class="btn btn-primary">Leer Libro</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://cdn.culturagenial.com/es/imagenes/libro-el-principito-og.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2 Titulo del libro que se tomo de la base de datos</h5>
                    <p class="card-text">Sinapsis del libro que se tomo de la base de datos.</p>
                    <a href="#" class="btn btn-primary">Leer Libro</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://cdn.culturagenial.com/es/imagenes/libro-el-principito-og.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">3 Titulo del libro que se tomo de la base de datos</h5>
                    <p class="card-text">Sinapsis del libro que se tomo de la base de datos.</p>
                    <a href="#" class="btn btn-primary">Leer Libro</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Contenido 2-->
<h1>Terror</h1>
<!--Carousel 2-->
<div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://cdn.culturagenial.com/es/imagenes/libro-el-principito-og.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">1 Titulo del libro que se tomo de la base de datos</h5>
                    <p class="card-text">Sinapsis del libro que se tomo de la base de datos.</p>
                    <a href="#" class="btn btn-primary">Leer Libro</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://cdn.culturagenial.com/es/imagenes/libro-el-principito-og.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2 Titulo del libro que se tomo de la base de datos</h5>
                    <p class="card-text">Sinapsis del libro que se tomo de la base de datos.</p>
                    <a href="#" class="btn btn-primary">Leer Libro</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="https://cdn.culturagenial.com/es/imagenes/libro-el-principito-og.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">3 Titulo del libro que se tomo de la base de datos</h5>
                    <p class="card-text">Sinapsis del libro que se tomo de la base de datos.</p>
                    <a href="#" class="btn btn-primary">Leer Libro</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

</div>