@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Política de privacidad</h2>

<p>Esta política de privacidad describe cómo LBOOKS recopila, utiliza y protege la información personal que se proporciona en nuestro sitio web. Al visitar nuestro sitio web, aceptas las prácticas descritas en esta política.</p>

<h3>Recopilación de información personal</h3>

<p>Podemos recopilar información personal, como nombre, dirección de correo electrónico, información de contacto y otra información relevante para los usuarios de nuestro sitio web.</p>

<h3>Uso de información personal</h3>

<p>La información personal recopilada se utiliza para proporcionar y mejorar nuestros servicios. También podemos utilizar esta información para ponernos en contacto con nuestros usuarios con fines de marketing o publicidad.</p>

<h3>Protección de la información personal</h3>

<p>Nos comprometemos a proteger la información personal de nuestros usuarios. Implementamos medidas de seguridad para garantizar la protección contra el acceso no autorizado o la divulgación de información personal.</p>

<h3>Divulgación de información personal a terceros</h3>

<p>No vendemos ni alquilamos la información personal de nuestros usuarios a terceros. Podemos compartir información personal con proveedores de servicios externos que nos ayudan a proporcionar servicios en nuestro nombre.</p>

<h3>Cookies</h3>

<p>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario en nuestro sitio web. Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra política de cookies.</p>

<h3>Cambios en la política de privacidad</h3>

<p>Nos reservamos el derecho de actualizar o modificar esta política de privacidad en cualquier momento sin previo aviso a los usuarios. Es responsabilidad del usuario revisar periódicamente esta política para estar al tanto de cualquier cambio.</p>
